<div class="container">
  <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1> Panel principal</h1>
    <br>
    <br>
    </div>

  <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button
            ng-click="controlUsuarioCtrl.estudio()"
            class="btn btn-primary">Estudios
    </button>
    <br>
    </div>

  <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <button
          ng-click="controlUsuarioCtrl.user()"
          class="btn btn-primary">Cambiar contraseña
    </button>
  </div>
    <br>
    <br>
  </div>

</div>
