<div class="container">
    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2> Panel principal</h2>
    </div>
</div>


<div class="list-group">
    <a ng-click="controlCtrl.actividad()"
       class="list-group-item active">Actividades</a>
</div>

<div class="list-group">
    <a ng-click="controlCtrl.cuentas()" class="list-group-item  active">Listado de
        usuarios</a>
</div>


<div class="list-group">
    <a ng-click="controlCtrl.estudio()" class="list-group-item  active">Gestión de
        estudios</a>
</div>


<div class="list-group">
    <a ng-click="controlCtrl.testCognitivo()" class="list-group-item  active">Crear
        test cognitivo</a>
</div>

</div>

<div class="container">
    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="/images/menu1.png"></div>
</div>
</div>



